name: Build

on:
  push:
    branches:
      - '**'

jobs:
  build:
    name: Build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 22
      -  run: yarn install
      -  run: yarn test
      -  run: npm install -g vsce
      -  run: vsce package
